{% extends 'base/base.html' %}
{% block content %}
<!-- Get the data from the database -->
<script>
  
  var endpoint = '/api/chart/data/dmax/'
  var dmax_data_raw = []

  var dmax_half = new Object();
    dmax_half.crimpSize = []
    dmax_half.dataX = []
    dmax_half.dataY = []
    dmax_half.data = []

  var xxx = new Object();
    xxx.crimpSize = []
    xxx.dataX = []
    xxx.dataY = []
    xxx.data = []

  var dmax_open = new Object();
    dmax_open.crimpSize = []
    dmax_open.dataX = []
    dmax_open.dataY = []
    dmax_open.data = []

  var xxx = new Object();
    xxx.crimpSize = []
    xxx.dataX = []
    xxx.dataY = []
    xxx.data = []

  var chart3 = new Object();
  var chart4 = new Object();
  var myBarChart = new Object();

  var red = [
    red_1 = {
      borderColor: "#D50000",
      // hoverBackgroundColor: "#1B5E20",
      // hoverBorderColor: "#1B5E20",
      // pointHoverBorderColor: "#BDBDBD",
      // pointHoverBackgroundColor: "#BDBDBD",
      // pointBackgroundColor: "#1B5E20",
    },
    red_2 = {
      borderColor: "#FF1744",
      // hoverBackgroundColor: "#388E3C",
      // hoverBorderColor: "#388E3C",
      // pointHoverBorderColor: "#BDBDBD",
      // pointHoverBackgroundColor: "#BDBDBD",
      // pointBackgroundColor: "#388E3C",
    },
    red_3 = {
      borderColor: "#FF5252",
      // hoverBackgroundColor: "#66BB6A",
      // hoverBorderColor: "#66BB6A",
      // pointHoverBorderColor: "#BDBDBD",
      // pointHoverBackgroundColor: "#BDBDBD",
      // pointBackgroundColor: "#66BB6A",
    },
    red_4 = {
      borderColor: "#FF8A80",
      // hoverBackgroundColor: "#A5D6A7",
      // hoverBorderColor: "#A5D6A7",
      // pointHoverBorderColor: "#BDBDBD",
      // pointHoverBackgroundColor: "#BDBDBD",
      // pointBackgroundColor: "#A5D6A7",
    },
    red_5 = {
      borderColor: "#FFCDD2",
      // hoverBackgroundColor: "#E8F5E9",
      // hoverBorderColor: "#E8F5E9",
      // pointHoverBorderColor: "#BDBDBD",
      // pointHoverBackgroundColor: "#BDBDBD",
      // pointBackgroundColor: "#E8F5E9",
      }
    ]

  $.ajaxSetup({
  async: true
  });

  $.ajax({
    method: "GET",
    url: endpoint,
    success:  function(data){
      dmax_data_raw = data
      ////console.log(dmax_data_raw)
      //////console.log('success')
      if (dmax_data_raw[0].hand_position == 'HG' && dmax_data_raw[0].hands == 'TH'){
        var test = true
      }else{
        var test = false
      }
      ////console.log(dmax_data_raw[0].hand_position)
      //console.log(test)

      for (let i = 0; i < dmax_data_raw.length; i++){
        if (dmax_data_raw[i].hand_position == 'HG') {
          dmax_half.crimpSize.push(dmax_data_raw[i].crimp_size);
          dmax_half.dataX.push(dmax_data_raw[i].date);
          if (dmax_data_raw[i].hands == 'TH'){
            dmax_half.dataY.push(Math.round((Number(dmax_data_raw[i].additional_weight)+Number(dmax_data_raw[i].body_weight))/Number(dmax_data_raw[i].body_weight) * 100));
          } else if (dmax_data_raw[i].hands == 'OH'){
            dmax_half.dataY.push(Math.round((Number(dmax_data_raw[i].additional_weight)+Number(dmax_data_raw[i].body_weight))/Number(dmax_data_raw[i].body_weight) * 100 * 2));
          }
        }
        else if (dmax_data_raw[i].hand_position == 'OH') {
          dmax_open.crimpSize.push(dmax_data_raw[i].crimp_size);
          dmax_open.dataX.push(dmax_data_raw[i].date);
          if (dmax_data_raw[i].hands == 'TH'){
            dmax_open.dataY.push(Math.round((Number(dmax_data_raw[i].additional_weight)+Number(dmax_data_raw[i].body_weight))/Number(dmax_data_raw[i].body_weight) * 100));
          } else if (dmax_data_raw[i].hands == 'OH'){
            dmax_open.dataY.push(Math.round((Number(dmax_data_raw[i].additional_weight)+Number(dmax_data_raw[i].body_weight))/Number(dmax_data_raw[i].body_weight) * 100 * 2));
          }
        }
      }


    if (dmax_half.dataX.length > 0){
      var dmax_half_dsets = seperateDataset(dmax_half)
      //console.log('hi du')
      //console.log(dmax_half_dsets)
      var abc = 1
      if (dmax_half_dsets){abc = 2}
      //console.log(abc)
      var dmax_half_data = datasetConfiguration(dmax_half_dsets)
      var ctx3 = document.getElementById('myChart3');
      var myChart3 = new Chart(ctx3, {
          type: 'line',
          data: dmax_half_data,
          options: setOptions( 'Relative Weight in %', 'Halfgrimp', dmax_half)
      });
    }

    if (dmax_open.dataX.length > 0){
      var dmax_open_dsets = seperateDataset(dmax_open)
      var dmax_open_data = datasetConfiguration(dmax_open_dsets)
      var ctx4 = document.getElementById('myChart4');
      var myChart4 = new Chart(ctx4, {
          type: 'line',
          data: dmax_open_data,
          options: setOptions( 'Relative Weight in %', 'Openhand', dmax_open)
      });
    }

    

      //Überschreibe das Chart object nach außén, damit es für Update Function erreichbar ist
      chart3 = myChart3
      chart4 = myChart4
  },
    error: function(error_data){
      //console.log("error")
      //console.log(error_data)
    }
  });

  $.ajax({
    url: '/api/chart/data/history/',
    success: function(data) {
        training_dict = jQuery.parseJSON(data);
        console.log(jQuery.parseJSON(data));
        console.log(training_dict["max_finger"]);
        //console.log(["Red", "Blue", "Yellow", "Green", "Purple", "Orange"]);

        function createLabelsBarChart(number_of_past_weeks){
          label = []
          var currentWeek = (new Date()).getWeek();
          console.log("currentWeek", currentWeek);
          for( i = 0; i < number_of_past_weeks; i++){
            if(currentWeek-i < 1){
              currentWeek = 52;
            }
            label.push("Week " + (currentWeek-i).toString() );
            //{ t: new Date(), y: 10 },
          }
          label.reverse();
          console.log("label", label)
          return label
        }
          


        var ctxBar = document.getElementById('myBarChart');
        var myBarChart = new Chart(ctxBar, {
        type: 'bar',
            data: {
              labels: createLabelsBarChart(training_dict["max_finger"].length),
              datasets: [
                {
                  label: 'Finger Max-Strength',
                  data: training_dict["max_finger"],
                  backgroundColor: 'rgba(128, 0, 0, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Pullups Max-Strength',
                  data: training_dict["max_pull"],
                  backgroundColor: 'rgba(255, 0, 0, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Core Max-Strength',
                  data: training_dict["max_core"],
                  backgroundColor: 'rgba(230, 70, 0, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Finger Power-End.',
                  data: training_dict["end_finger"],
                  backgroundColor: 'rgba(0, 0, 150, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Pullups Power-End.',
                  data: training_dict["end_pull"],
                  backgroundColor: 'rgba(76, 0, 225, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Core Power-End.',
                  data: training_dict["end_core"],
                  backgroundColor: 'rgba(102, 0, 102, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Flexibilty',
                  data: training_dict["flex"],
                  backgroundColor: 'rgba(115, 230, 0, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Antagonists',
                  data: training_dict["antagonist"],
                  backgroundColor: 'rgba(230, 230, 0, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
                {
                  label: 'Other',
                  data: training_dict["other"],
                  backgroundColor: 'rgba(0, 102, 102, 0.5)',
                  borderColor: [],
                  borderWidth: 2
                },
              ]
            },
            options: {
              title: {
              display: true,
              text: 'Training Sessions over Past Weeks'
              },
              scales: {
                yAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true
                  }
                }]

              }
            }
          });
    //  
    }
});
</script>




<h1>Overview</h1>
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div class="row">
        <div class="col-md-12">
          <canvas id="myBarChart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
    <br><br>
    <h1>Deadhang Maximum Strength</h1>
    {% if not twohands_halfgrimp and not twohands_openhand and not onehand_halfgrimp and not onehand_openhand %}
    <div class="alert alert-primary" role="alert">
      It seems you don't have any training sessions in this category! Create one to see you first data point.
    </div>
    {% else %}

    <!-- Button trigger modal
    <button type="button" class="btn btn-outline-info waves-effect " data-toggle="modal" data-target="#exampleModalCenter">
      Info
    </button>

    
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Charts to display your progression</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times </span>
            </button>
          </div>
          <div class="modal-body">
            <p>In this section you can analyse your progress. So far, only the session <i>Deadhang Maximum Strength</i> is surpored.
            Others may follow soon.
            You can log your training data in four charts, showing the combinations of Two Hands/One Hand and Halfcrimp/Open hand. As soon as you
            create the appropriate training session the charts will appear. Use your mouse to check data points or filter datasets by clicking on the legend.</p>
            <p>Each chart can take up to 5 datasets, representing the different crimp sizes you train on. Get started and check it out!</p>

          </div>
        </div>
      </div>
    </div> -->

    <div class="row justify-content-center">
    {% if onehand_halfgrimp %}
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <canvas id="myChart3" width="400" height="400"></canvas>
        </div>
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Start Date" id="datepicker5">
            <input type="text" class="form-control" placeholder="End Date" id="datepicker6">
            </div>
              <button class="btn btn-primary" type="button" id="filter"
              onclick="updateChartxAxis(chart3, 'datepicker5','datepicker6',
              'Relative Weight in %', 'Halfgrimp', dmax_half );" >Filter</button>


        </div>
      </div>
    </div>
    {% endif %}
    {% if onehand_openhand %}
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <canvas id="myChart4" width="400" height="400"></canvas>
        </div>
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Start Date" id="datepicker7">
            <input type="text" class="form-control" placeholder="End Date" id="datepicker8">
            </div>
              <button class="btn btn-primary" type="button" id="filter"
              onclick="updateChartxAxis(chart4, 'datepicker7','datepicker8',
              'Relative Weight in %', 'Openhand', dmax_open );" >Filter</button>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- <script>
      window.onload = function() {
        var ctxBar = document.getElementById('myBarChart');
        var myBarChart = new Chart(ctxBar, {
          type: 'bar',
          data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes 1',
                data: [10, 19, 3, 5, 2, 3],
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)'
                ],
                borderWidth: 2
              },
              {
                label: '# of Votes 2',
                data: [15, 19, 3, 5, 2, 3],
                backgroundColor: [
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                  'rgba(255, 159, 64, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
              }
            ]
          },
          options: {
            scales: {
              yAxes: [{
                stacked: true,
                ticks: {
                  beginAtZero: true
                }
              }],
              xAxes: [{
                stacked: true,
                ticks: {
                  beginAtZero: true
                }
              }]

            }
          }
        });
  }
  var bar_data = {{ training_dict }};   
  console.log(bar_data)
    </script> -->


    

  </div>
{% endif %}



<!-- Charts for Pullups and Deadhang Strength-Endurance ausstehend -->

<script>
  // Global + Custom Chart Config Options
function setOptions(yAxisLabel, title, chartdata){
  var options = {
    bezierCurve: false,
    //animation: true,
    animationEasing: "easeOutQuart",
    showScale: false,
    tooltipEvents: ["mousemove", "touchstart", "touchmove"],
    tooltipCornerRadius: 3,
    pointDot : true,
    pointDotRadius : 4,
    datasetFill : true,
    scaleShowLine : true,
    animationEasing : "easeOutBounce",
    animateRotate : true,
    animateScale : true,
    scales: {
      xAxes: [{
          type: 'time',
          time: {
              unit: calc_xAxisUnit(chartdata.dataX[0], chartdata.dataX[chartdata.dataX.length-1]),
              //xxx[0].dataX, xxx[xxx.length-1].dataX,
              displayFormats: {
                  quarter: 'MMM YYYY'
              },
          },
          distribution: 'linear'
      }],
      yAxes: [{
          scaleLabel:{
            display: true,
            labelString: yAxisLabel
          },
      }]
  },
  title: {
      display: true,
      text: title
  }
  };
  return options;
}

function updateChartxAxis(chart, datepicker_min, datepicker_max, yAxisLabel, title, chartdata) {//title noch hinzufügen
  var date_min_str = document.getElementById(datepicker_min).value;
  //console.log("updateChart")
  //console.log(date_min_str)
  var date_max_str = document.getElementById(datepicker_max).value;

  chart.options = setOptions(yAxisLabel, title, chartdata)
  chart.options.scales = {
     xAxes: [{
         type: 'time',
         time: {
             unit: calc_xAxisUnit(date_min_str, date_max_str),
             displayFormats: {
                 quarter: '[Q]Q - YYYY'
             },
         },
         ticks: {
           min: date_min_str,
           max: date_max_str

         },
         distribution: 'linear'
     }],
     yAxes: [{
         scaleLabel:{
           display: true,
           labelString: yAxisLabel
         },
     }]
 },
chart.update();
}

function calc_xAxisUnit(date_min_str, date_max_str){
  var date_min = new Date(date_min_str)
  var date_max = new Date(date_max_str)
  var diffTime = Math.abs(date_max - date_min);
  var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
  //console.log(diffDays)
  var xAxisUnit = []

  if(diffDays < 2){xAxisUnit = 'hour'}else
  if(diffDays < 30){xAxisUnit = 'day'}else
  if(diffDays < 50){xAxisUnit = 'week'}else
  if(diffDays < 120){xAxisUnit = 'month'}else
  if(diffDays < 360){xAxisUnit = 'quarter'}else{xAxisUnit='year'}
return xAxisUnit
}

function seperateDataset(object){
  var crimpSizes = []
  //filtern welche Leistengrößen im übergebenen Datenset sind
  for (let i = 0; i < object.dataX.length; i++){
    if (crimpSizes.includes(object.crimpSize[i]) == false){
      crimpSizes.push(object.crimpSize[i]);
    }
    //maximal 5 Datensets
    if (crimpSizes.length == 5){
      break;
    }
  }
  crimpSizes.sort(sortNumber);
  //Initialisieren des Base arrays
   var seperated_datasets = []

  for  (let i = 0; i < crimpSizes.length; i++){
    //array struktur definieren, sonst gehts nichts
    seperated_datasets[i] = []
    seperated_datasets[i].date = [],
    seperated_datasets[i].additional_weight = [],
    seperated_datasets[i].crimpSize = crimpSizes[i]
    //kopieren der entsprechenden passenden Einträge
    for (let j = 0; j < object.dataX.length; j++){
      if (crimpSizes[i] == object.crimpSize[j]){
         seperated_datasets[i].date.push(object.dataX[j])
         seperated_datasets[i].additional_weight.push(object.dataY[j])
      }
    }
  }
  return seperated_datasets
};

function datasetConfiguration(dataset){

  var dataset_label = []
  var dataset_data = []
  for (let i = 0; i < dataset.length; i++){
    dataset_data[i] = []
    dataset_label[i] = 'Grimpsize: ' + dataset[i].crimpSize.toString() + ' mm'
    var j = 0
    while(j < dataset[i].date.length)
    {
      dataset_data[i].push({ t: dataset[i].date[j], y: dataset[i].additional_weight[j] },)
      j++
    }
  }


  var dataset_obj = []
  var data = {
    datasets: []
  }
  for (let i = 0; i < dataset.length; i++){
    dataset_obj[i] = []
    dataset_obj[i] = {
      label: dataset_label[i],
      //data: [65, 59, 80, 81, 56, 55, 40]
       data: dataset_data[i],
       borderColor: red[i].borderColor,
        //hoverBackgroundColor: "#E8F5E9",
       // hoverBorderColor: green[i].hoverBorderColor,
       // pointHoverBorderColor: green[i].pointHoverBorderColor,
       // pointHoverBackgroundColor: green[i].pointHoverBackgroundColor,
       // pointBackgroundColor: green[i].pointBackgroundColor,
      // //fillColor: green[i].fillColor,
      // borderColor: 'rgba(47, 132, 71, 0.8)',
      // strokeColor: green[i].strokeColor,
      // pointColor: green[i].pointColor,
      // pointStrokeColor: green[i].pointStrokeColor,
      // pointHighlightFill: green[i].pointHighlightFill,
      // pointHighlightStroke: green[i].pointHighlightStroke,
      lineTension: 0.2,
      //pointHoverRadius: 10,
      //pointHoverBorderWitdh: 20,
      fill: false
    }
    data.datasets.push(dataset_obj[i])
  }


// //console.log(dataset_label)
// //console.log(dataset_data)
return data
};

</script>

<script>
  $(function () {
    $("input[id^='datepicker']").datepicker({
     format: 'yyyy-mm-dd'
   });
  });

function sortNumber(a, b) {
  return a - b;
}

Date.prototype.getWeek = function() {
        var onejan = new Date(this.getFullYear(), 0, 1);
        return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
    }

    var weekNumber = (new Date()).getWeek();

    var dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    var now = new Date();
    document.write(dayNames[now.getDay()] + " (" + weekNumber + ").");

  // Data
  // var data = {
  //   datasets: [{
  //     label: "My First dataset",
  //     fillColor: "rgba(220,220,220,0.2)",
  //     strokeColor: "rgba(220,220,220,1)",
  //     pointColor: "rgba(220,220,220,1)",
  //     pointStrokeColor: "#fff",
  //     pointHighlightFill: "#fff",
  //     pointHighlightStroke: "rgba(220,220,220,1)",
  //     lineTension: 0,
  //     pointHoverRadius: 10,
  //     pointHoverBorderWitdh: 20,
  //     //data: [65, 59, 80, 81, 56, 55, 40]
  //     data: dmax_data,
  //   },
  //   {
  //     label: "My Second dataset",
  //     fillColor: "rgba(100,220,220,0.2)",
  //     strokeColor: "rgba(100,220,220,1)",
  //     pointColor: "rgba(100,220,220,1)",
  //     pointStrokeColor: "#fff",
  //     pointHighlightFill: "#fff",
  //     pointHighlightStroke: "rgba(220,220,220,1)",
  //     lineTension: 0,
  //     pointHoverRadius: 10,
  //     pointHoverBorderWitdh: 20,
  //     //data: [65, 59, 80, 81, 56, 55, 40]
  //     data: dmax_data,
  //   }]
  // };
</script>




{% endblock %}
